# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/build-verify

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.dev.log
.deepseek.log
.deepseek.err.log
.launch.log
.build.log
/.backup
npm-debug.log*
yarn-debug.log*
yarn-error.log*
